<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Data Analy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Data Analy" name="description">
    <link href="../static/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/preloader.min.css" type="text/css">
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="../static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

</head>
<style>
    .table td {
        text-align: center;
    }

</style>
<body>

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">


    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="" class="logo logo-dark">
                            <span class="logo-sm">
                                        <img src="../static/picture/logo-sm.svg" alt="" height="24">
                                    </span>
                        <span class="logo-lg">
                                        <img src="../static/picture/logo-sm.svg" alt="" height="24"> <span
                                class="logo-txt">Data Analy</span>
                                    </span>
                    </a>

                    <a href="" class="logo logo-light">
                                    <span class="logo-sm">
                                        <img src="../static/picture/logo-sm.svg" alt="" height="24">
                                    </span>
                        <span class="logo-lg">
                                        <img src="../static/picture/logo-sm.svg" alt="" height="24"> <span
                                class="logo-txt">Data Analy</span>
                                    </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="d-flex">

                <div class="dropdown d-inline-block d-lg-none ms-2">
                    <button type="button" class="btn header-item" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="search" class="icon-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-search-dropdown">

                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                           aria-label="Search Result">

                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="dropdown d-none d-sm-inline-block">
                    <button type="button" class="btn header-item" id="mode-setting-btn">
                        <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                        <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item right-bar-toggle me-2">
                        <i data-feather="settings" class="icon-lg"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item topbar-light bg-light-subtle border-start border-end"
                            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="../static/picture/avatar-1.jpg"
                             alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium">{{ name }}</span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="/lock_screen"><i
                                class="mdi mdi-lock font-size-16 align-middle me-1"></i> 锁屏 </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/loginOut"><i
                                class="mdi mdi-logout font-size-16 align-middle me-1"></i> 退出 </a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="vertical-menu">

        <div data-simplebar="" class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title" data-key="t-menu">Menu</li>

                    <li>
                        <a href="/home">
                            <i data-feather="home"></i>
                            <span data-key="t-dashboard">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="/data_show/all">
                            <i data-feather="grid"></i>
                            <span data-key="t-calendar">数据大屏</span>
                        </a>
                    </li>

                    <li>
                        <a href="/table/0" class="has-arrow">
                            <i data-feather="users"></i>
                            <span data-key="t-authentication">数据展示</span>
                        </a>
                    </li>
                    <li>
                        <a href="/traffic/all" class="has-arrow">
                            <i data-feather="file-text"></i>
                            <span data-key="t-horizontal">城市实时交通</span>
                        </a>

                    </li>
                    <li>
                        <a href="/search/1" class="has-arrow">
                            <i data-feather="file-text"></i>
                            <span data-key="t-horizontal">搜索</span>
                        </a>

                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="gift"></i>
                            <span data-key="t-ui-elements">数据分析</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/price_t/四川" data-key="t-lightbox">价格分析表</a></li>
                            <li><a href="/star_t/all" data-key="t-range-slider">星级分析表</a></li>
                            <li><a href="/heat_t/all" data-key="t-range-slider">热度分析表</a></li>
                            <li><a href="/map_t/all" data-key="t-sweet-alert">地点分析表</a></li>
                            <li><a href="/degree_t/all" data-key="t-rating">满意度分析表</a></li>
                            <li><a href="/service/all" data-key="t-range-slider">景区特色与服务评价分析</a></li>
                            <li><a href="/comment_t/all" data-key="t-lightbox">时间与评论分析</a></li>
                            <li><a href="/comment_emotion/all" data-key="t-range-slider">评论内容与情感分析</a></li>
                        </ul>
                    </li>


                </ul>


            </div>
            <!-- Sidebar -->
        </div>
    </div>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- category    -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">满意度分析表</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                    <li class="breadcrumb-item">data analy</li>
                                    <li class="breadcrumb-item active">degree analy</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- <echart>-->
                <div class="row">
                    <div class="col-xl-12">
                        <!-- card -->
                        <div class="card">
                            <!-- card body -->
                            <div class="card-header">
                                <h4 class="card-title mb-0">满意度统计分析</h4>
                            </div>
                            <div class="card-header" style="flex-wrap:wrap;padding: 5px" role="group"
                                 aria-label="Basic example">
                                {% if searchName=='all' %}
                                <a href="/degree_t/all" class="active btn btn-secondary ">全部</a>
                                {% else %}
                                <a href="/degree_t/all" class="btn btn-secondary">全部</a>
                                {% endif %}
                                {% for i in typesList %}
                                {% if searchName == i %}
                                <a href="/degree_t/{{ i }}" class="active btn btn-secondary">{{ i }}</a>
                                {% else %}
                                <a href="/degree_t/{{ i }}" class="btn btn-secondary">{{ i }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <div class="col-xl-12">
                                    <div id="echart1" style="position: relative; width:100%;height: 550px">
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <!-- card -->
                        <div class="card">
                            <!-- card body -->
                            <div class="card-header">
                                <h4 class="card-title mb-0">评论等级分布图</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-xl-12">
                                    <div id="echart2" style="position: relative; width:100%;height: 400px">
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>

                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script> document.write(new Date().getFullYear())</script>
                                &copy; Tourism Data Analysis
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
        </div>
    </div>
    <!-- END layout-wrapper -->


</div>

<!-- /Right-bar -->
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar="" class="h-100">
        <div class="rightbar-title d-flex align-items-center p-3">

            <h5 class="m-0 me-2">主体编辑器</h5>

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>
        <hr class="m-0">

        <div class="p-4">

            <!--                        <h6 class="mb-3" style="display: none">布局</h6>-->
            <div class="form-check form-check-inline" style="display: none">
                <input class="form-check-input" type="radio" name="layout" id="layout-vertical"
                       value="vertical">
                <label class="form-check-label" for="layout-vertical">Vertical</label>
            </div>
            <div class="form-check form-check-inline" style="display: none">
                <input class="form-check-input" type="radio" name="layout" id="layout-horizontal"
                       value="horizontal">
                <label class="form-check-label" for="layout-horizontal">Horizontal</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">布局模式</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-light"
                       value="light">
                <label class="form-check-label" for="layout-mode-light">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-dark"
                       value="dark">
                <label class="form-check-label" for="layout-mode-dark">Dark</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">布局分配</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-width" id="layout-width-fuild"
                       value="fuild"
                       onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                <label class="form-check-label" for="layout-width-fuild">Fluid</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-width" id="layout-width-boxed"
                       value="boxed"
                       onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                <label class="form-check-label" for="layout-width-boxed">Boxed</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">布局位置</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-position" id="layout-position-fixed"
                       value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                <label class="form-check-label" for="layout-position-fixed">Fixed</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-position"
                       id="layout-position-scrollable"
                       value="scrollable"
                       onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">顶部导航栏颜色</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-light"
                       value="light"
                       onchange="document.body.setAttribute('data-topbar', 'light')">
                <label class="form-check-label" for="topbar-color-light">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-dark"
                       value="dark"
                       onchange="document.body.setAttribute('data-topbar', 'dark')">
                <label class="form-check-label" for="topbar-color-dark">Dark</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2 sidebar-setting">侧边栏的大小</h6>

            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-default"
                       value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                <label class="form-check-label" for="sidebar-size-default">Default</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-compact"
                       value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                <label class="form-check-label" for="sidebar-size-compact">Compact</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-small"
                       value="small"
                       onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2 sidebar-setting">右边导航栏颜色</h6>

            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-light"
                       value="light"
                       onchange="document.body.setAttribute('data-sidebar', 'light')">
                <label class="form-check-label" for="sidebar-color-light">Light</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-dark"
                       value="dark"
                       onchange="document.body.setAttribute('data-sidebar', 'dark')">
                <label class="form-check-label" for="sidebar-color-dark">Dark</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-brand"
                       value="brand"
                       onchange="document.body.setAttribute('data-sidebar', 'brand')">
                <label class="form-check-label" for="sidebar-color-brand">Brand</label>
            </div>


            <h6 class="mt-4 mb-3 pt-2" style="display: none">Direction</h6>

            <div class="form-check form-check-inline" style="display: none">
                <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-ltr"
                       value="ltr" style="display: none">
                <label class="form-check-label" for="layout-direction-ltr">LTR</label>
            </div>
            <div class="form-check form-check-inline" style="display: none">
                <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-rtl"
                       value="rtl">
                <label class="form-check-label" for="layout-direction-rtl">RTL</label>
            </div>


        </div>
    </div>
    <!-- Settings -->


</div> <!-- end slimscroll-menu-->
<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- JAVASCRIPT -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/metisMenu.min.js"></script>
<script src="../static/js/simplebar.min.js"></script>
<script src="../static/js/waves.min.js"></script>
<script src="../static/js/feather.min.js"></script>
<!-- pace js -->
<script src="../static/js/pace.min.js"></script>
<!-- apexcharts -->
<script src="../static/js/apexcharts.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<!-- Plugins js-->

<script src="../static/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/js/jquery-jvectormap-world-mill-en.js"></script>

<!-- Datatable init js -->
<script src="../static/js/datatables.init.js"></script>
<!-- Required datatable js -->
<script src="../static/js/jquery.dataTables.min.js"></script>
<script src="../static/js/dataTables.bootstrap4.min.js"></script>
<script src="../static/js/dataTables.buttons.min.js"></script>
<script src="../static/js/buttons.bootstrap4.min.js"></script>

<script src="../static/js/app.js"></script>


<!--echarts-->


<script>
    $(function china_chart6() {
        var myChart = echarts.init(document.getElementById("echart1"));
        var degree_obj_ = "{{ degree_obj|safe }}";
        var degree_obj = eval(`( ${degree_obj_} )`);

        var option = {
            color: [
                "#006cff", "#60cda0", "#ed8884", "#ff9f7f",
                "#0096ff", "#9fe6b8", "#32c5e9", "#1d9dff",
                '#c23531', '#2f4554', '#61a0a8', '#11701c',
                '#d48265', '#91c7ae', '#749f83', '#487040',
                '#ca8622', '#bda29a', '#6e7074', '#14d345',
                '#546570', '#c4ccd3', '#BBFFFF', '#19705c',
                '#374270', '#d38db9', '#ff26c2', '#315470',
                '#17703a', '#58d3c5', '#e3ff72', '#e0ff18',
                '#ebe713', '#92d359', '#7effae', '#70704e',
                '#1b1fff', '#7185d3', '#b41cff', '#f195ff',
                '#3effca', '#d32a4f', '#e0ff5a', '#8d4723',
            ],
            backgroundColor: 'rgba(247,247,247,0.74)',
            tooltip: {
                trigger: 'item',
                formatter(params) {
                    let res = '';
                    const {marker, name, value} = params;
                    if (name !== '') {
                        res += `${marker}${name}:${value}%`
                    }
                    return res;
                }
            },
            legend: {
                bottom: "5%",
                itemWidth: 12,
                itemHeight: 12,
                textStyle: {
                    color: "rgba(0,0,0,0.95)",
                    fontSize: "13"
                }
            },
            grid: {
                top: '20px',
                right: '7%',
                left: '3%',
                bottom: '5%',
                containLabel: true
            },
            series: [
                {
                    name: "地区分布",
                    type: "pie",
                    radius: ["7%", "60%"],
                    center: ["50%", "40%"],
                    roseType: "radius",
                    // 图形的文字标签
                    label: {
                        fontSize: 13,
                        color: 'rgba(94,94,94,0.58)'
                    },
                    // 链接图形和文字的线条
                    labelLine: {
                        // length 链接图形的线条
                        length: 10,
                        // length2 链接文字的线条
                        length2: 10
                    },
                    data: degree_obj,
                }
            ]
        };
        // 3. 把配置给实例对象
        myChart.setOption(option);
        // 4. 让图表跟随屏幕自动的去适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    });
</script>

<script>
    $(function china_chart2() {
        var myChart = echarts.init(document.getElementById("echart2"));
        var commtent_level_obj = "{{ commtent_level_obj|safe }}";
        var pieData = eval(`( ${commtent_level_obj} )`);
        var all_cnt_data = "{{ all_cnt|safe }}";
        var all_cnt = eval(`( ${all_cnt_data} )`);
        console.log(pieData);
        console.log(all_cnt);
        var colors = [
            'rgba(6, 254, 188, 1)',
            'rgba(6, 254, 188, 0.1)',
            'rgba(255, 164, 3, 1)',
            'rgba(255, 164, 3, 0.1)',
            'rgba(15,11,235,0.58)',
            'rgba(96,100,235,0.51)',
        ];
        var titleArr = [],
            seriesArr = [];

        pieData.forEach(function (item, index) {
            titleArr.push({
                text: item.name,
                left: index * 33 + 14 + '%',
                top: '75%',
                textAlign: 'center',
                textStyle: {
                    fontWeight: 'normal',
                    fontSize: '18',
                    color: '#1484d5',
                    textAlign: 'center',
                },
            });
            seriesArr.push(
                {
                    type: 'pie',
                    name: '外层细圆环',
                    radius: ['45%', '47%'],
                    center: [index * 33 + 14 + '%', '45%'],
                    hoverAnimation: false,
                    clockWise: false,
                    itemStyle: {
                        normal: {
                            color: 'rgba(187,191,172,0.7)',
                        },
                    },
                    label: {
                        show: false,
                    },
                    data: [100],
                },
                {
                    type: 'pie',
                    name: '内层细圆环',
                    radius: ['29%', '30%'],
                    center: [index * 33 + 14 + '%', '45%'],
                    hoverAnimation: false,
                    clockWise: false,
                    itemStyle: {
                        normal: {
                            color: 'rgba(187,191,172,0.5)',
                        },
                    },
                    label: {
                        show: false,
                    },
                    data: [100],
                },
            );
        });

        seriesArr.push(
            {
                name: '',
                type: 'pie',
                clockWise: false,
                radius: ['30%', '45%'],
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {offset: 0, color: colors[0]},
                            {offset: 1, color: colors[1]},
                        ]),
                        label: {
                            show: false,
                        },
                        labelLine: {
                            show: false,
                        },
                    },
                },
                hoverAnimation: false,
                center: [0 * 33 + 14 + '%', '45%'],
                data: [
                    {
                        value: pieData[0].value,
                        name: '好评',
                        label: {
                            normal: {
                                formatter: function (params) {
                                    return parseInt((params.value) / all_cnt * 100) + '%';
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '20',
                                    // fontWeight: 'bold',
                                    color: '#1cc7ff',
                                },
                            },
                        },
                    },
                    {
                        value: all_cnt - pieData[0].value,
                        name: '其他',
                        itemStyle: {
                            normal: {
                                color: 'rgba(30,30,30,0.26)',
                            },
                            emphasis: {
                                color: 'rgba(0,0,0,0.99)',
                            },
                        },
                    }
                ],
            },
            {
                name: '',
                type: 'pie',
                clockWise: false,
                radius: ['30%', '45%'],
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {offset: 0, color: colors[2]},
                            {offset: 1, color: colors[3]},
                        ]),
                        label: {
                            show: false,
                        },
                        labelLine: {
                            show: false,
                        },
                    },
                },
                hoverAnimation: false,
                center: [1 * 33 + 14 + '%', '45%'],
                data: [
                    {
                        value: pieData[1].value,
                        name: '中评',
                        label: {
                            normal: {
                                formatter: function (params) {
                                    return parseInt((params.value) / all_cnt * 100) + '%';
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '20',
                                    // fontWeight: 'bold',
                                    color: '#1cc7ff',
                                },
                            },
                        },
                    },
                    {
                        value: all_cnt - pieData[1].value,
                        name: '其他',
                        itemStyle: {
                            normal: {
                                color: 'rgba(30,30,30,0.26)',
                            },
                            emphasis: {
                                color: 'rgba(0,0,0,0.99)',
                            },
                        },
                    },
                ],
            },
            {
                name: '',
                type: 'pie',
                clockWise: false,
                radius: ['30%', '45%'],
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {offset: 0, color: colors[4]},
                            {offset: 1, color: colors[5]},
                        ]),
                        label: {
                            show: false,
                        },
                        labelLine: {
                            show: false,
                        },
                    },
                },
                hoverAnimation: false,
                center: [2 * 33 + 14 + '%', '45%'],
                data: [
                    {
                        value: pieData[2].value,
                        name: '差评',
                        label: {
                            normal: {
                                formatter: function (params) {
                                    return parseInt((params.value) / all_cnt * 100) + '%';
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '20',
                                    // fontWeight: 'bold',
                                    color: '#1cc7ff',
                                },
                            },
                        },
                    },
                    {
                        value: all_cnt - pieData[2].value,
                        name: '其他',
                        itemStyle: {
                            normal: {
                                color: 'rgba(30,30,30,0.26)',
                            },
                            emphasis: {
                                color: 'rgba(0,0,0,0.99)',
                            },
                        },
                    },
                ],
            },
        );

        option = {
            backgroundColor: 'rgba(247,247,247,0.74)',
            tooltip: {
                show: true,
                trigger: 'item',
                axisPointer: {
                    type: 'shadow'
                },
            },
            grid: {
                top: '20px',
                right: '7%',
                left: '3%',
                bottom: '5%',
                containLabel: true
            },
            // backgroundColor: 'black',
            title: titleArr,
            series: seriesArr,
        };

        // 3. 把配置给实例对象
        myChart.setOption(option);
        // 4. 让图表跟随屏幕自动的去适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    });

</script>

</body>

</html>